manifest {
  name            = 'germline-nextflow'
  description     = 'Custom germline WES/WGS Nextflow pipeline (alignment, QC, variant calling).'
  author          = 'Viktorija Dauksaitė'
  version         = '0.1.0'
  mainScript      = 'main.nf'
  nextflowVersion = '!>=25.04.0'
}


// -----------------------------
// Global parameters
// -----------------------------

params {
    input        = "${baseDir}/samplesheet.csv"
    outdir       = "${baseDir}/results"
    ref_fasta_gz = "/home/vik/RSU_work/data/ref/hsa38/Homo_sapiens_assembly38.fasta.gz"
    fasta_name   = "Homo_sapiens_assembly38.fasta"
    igenomes_base = "/home/vik/RSU_work/data/ref/igenomes"
    genome        = "GATK.GRCh38"
}


// -----------------------------
// Execution profiles
// -----------------------------
profiles {

    // Plain local run (no containers)
    local {
        process.executor = 'local'
        process.cpus     = 4
        process.memory   = '8 GB'
        process.time     = '12h'

        // Useful for debugging and smaller projects
        params.outdir    = "${baseDir}/results_local"
    }



    // Local run with Docker (recommended if you start using nf-core modules)
    docker {
        process.executor = 'local'
        docker.enabled   = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        process.cpus     = 4
        process.memory   = '8 GB'
        process.time     = '12h'

        params.outdir    = "${baseDir}/results_docker"
    }

    // Tiny test profile – override input to some small FASTQs later if you want
    test {
        process.maxForks = 1
        // You can point this to tiny test data later, for now it just reuses main input
        // params.input = "${baseDir}/data/test/samplesheet_test.csv"
    }
}


process {

    withLabel: 'prepare_ref' {
        cpus      = 4
        memory    = '8 GB'
        time      = '4h'
        container = 'germline-bwa-samtools-biobambam2:0.1'
    }

    withLabel: 'bwa_mem_markdup' {
        cpus      = 8
        memory    = '16 GB'
        time      = '24h'
        container = 'germline-bwa-samtools-biobambam2:0.1'
    }

    // Override the container used by the nf-core FASTQC module
    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
}
